
@import '../../globals.css';


.navbar {
  background-color: var(--background-color);
  padding: 10px;
}

.navList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navLink {
  text-decoration: none;
  padding: 10px;
  color: var(--color);
  transition: color 0.3s ease-in-out;
}

.navLink:hover {
  color: var(--accent-color);
}

.activeNavLink {
  color: var(--accent-color);
  font-weight: bold;
}
