.dropdown {
  display: block;
  background-color: var(--background-color);
  padding-bottom: 3rem;
}

.dropdownMenu {
  display: flex;
  flex-direction: column;
  list-style: none;
  max-height: 350px; 
  overflow: auto;
  position: relative; 
}

.dropdownBtn {
  background-color: var(--color-button);
  border: none;
  text-transform: uppercase;
  color: var(--text-light);
  border-radius: 2rem;
  padding: 0.5rem 2rem;
  margin: 0.5rem;
  font-size: var(--font-size-small);
}

.dropdownItem {
  background-color: var(--color-button);
  border: none;
  text-transform: uppercase;
  color: var(--text-light);
  border-radius: 2rem;
  padding: 0.5rem 2rem;
  margin: 0.5rem;
  font-size: var(--font-size-small);
  cursor: pointer;
}

.goBackButton {
  background-color: #FE6464;
  text-transform: uppercase;
  color: var(--text-light);
  border: none;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  padding: 0.5rem 2rem;
  font-size: var(--font-size-small);
  margin-bottom: 2rem;
  cursor: pointer;
  margin-right: 1rem;
}

.button {
  display: none;
}

.link {
  text-decoration: none;
}

.cuisine {
  text-align: center; 
}

.cuisine {
  color: black;
  background-color: var(--background-color);
}

.title {
  padding-bottom: 2rem;
  text-align: center;
  font-size: var(--font-size-xlarge);
}



@media (min-width: 767px) {
  .navList {
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }
  
  .button {
    background-color: var(--color-button);
    border: none;
    text-transform: uppercase;
    color: var(--text-light);
    border-radius: 2rem;
    padding: 0.5rem 2rem;
    margin: 0.5rem;
    font-size: var(--font-size-small);
    cursor: pointer;
  }
  
  .button:hover {
    color: var(--accent-color);
  }

  .activeButton {
    color: var(--accent-color);
    font-weight: bold;  
  }

  .dropdown {
    display: none;
  }

  .button {
    display: block;
  }

  .dropdownBtn {
    display: none;
  }
}

