.cuisine {
    color: black;
}

.title {
  padding-bottom: 2rem;
  text-align: center;
  font-size: var(--font-size-xlarge);
}


.navList {
    max-width: 1200px;
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }

  .navLink {
    text-decoration: none;
  }
  
  .button {
    transition: color 0.3s ease-in-out;
    background-color: var(--color-button);
    border: none;
    text-transform: uppercase;
    color: var(--text-light);
    border-radius: 2rem;
    display: flex;
    align-items: center;
    padding: 0.5rem 2rem;
    margin: 0.5rem;
    font-size: var(--font-size-small);

    cursor: pointer;
  }
  
  .button:hover {
    color: var(--accent-color);
  }
  
  .activeNavLink {
    color: var(--accent-color);
    font-weight: bold;
  }