@import '../../globals.css';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--background-color);
}

.logoContainer {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;

  @media (max-width: var(--breakpoint-medium)) {
    display: none;
  }
}

.navList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;

  @media (min-width: 992px){
    display: flex;
  }
}


.navLink {
  text-decoration: none;
  padding: 10px;
  color: var(--color);
  transition: color 0.3s ease-in-out;
}

.navLink:hover {
  color: var(--accent-color);
}

.activeNavLink {
  color: var(--accent-color);
  font-weight: bold;
}


.mobileMenu {
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: var(--background-color);
  align-items: center;

  @media (min-width: 1250px) {
    display: none;
  }
}

.menuOpen .mobileMenu {
  display: flex;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.1rem;
}


.menuIcon {
  cursor: pointer;
  margin-right: 1rem;

}

.userIcon {
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 1rem;
  margin-left: 1rem;
}

.menuIcon svg {
display: flex;
  
  @media (min-width: 992px) {
    display: none;
  }
}

.closeButton {
  cursor: pointer;
  display: none;
  margin-left: auto;
}

.menuOpen .closeButton {
  display: block;
}


