.cuisineList {
  margin: 20px;
}

.cuisineGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
  list-style: none;
  padding: 0;
  padding-bottom: 3rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cuisineCard {
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 0;
  display: flex;  
  align-items: center;
  flex-direction: column;
}

.cuisineCard:hover {
  transform: scale(1.1);
}  

.link {
  text-decoration: none;
}
  
.title {
  font-size: var(--font-size-medium);
  text-transform: uppercase;
  margin-top: 5rem;
  text-align: center;
  color: var(--text-dark);
}

.cuisineTitle {
  text-transform: uppercase;
  padding-bottom: 2rem;
  text-align: center;
  color: var(--text-dark);
}