.title {
    text-align: center;
    padding-top: 2rem;
    font-size: var(--font-size-large);
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--background-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .heading {
    font-size: var(--font-size-medium);
    color: var(--text-dark);
    padding: 2rem;
  }
  
  .text {
    font-size: var(--font-size-small);
    color: var(--text-dark);
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .text a {
    text-decoration: none;
    color: var(--text-dark);
    font-style: italic;
  }
  
  .image {
    width: 100%;
    height: auto;
    border-radius: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  
  .button {
    background-color: var(--accent-color);
    color: #ffffff;
    padding: 10px 20px;
    font-size: var(--font-size-medium);
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .button:hover {
    background-color: #ffad00; 
  }
  