@import '../../globals.css';

.heroContainer {
  background:
  linear-gradient(90deg, #33333388 0%, #33333388 100%),
  url('../../../public/images/hero-img.jpg');
  background-size: cover;
  aspect-ratio: 1/1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 2rem;
}

/* .heroImage {
  width: 100%;
  height: 25vw;
  object-fit: cover;
  border-radius: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
 */
.title {
  color: var(--text-light);
  font-size: var(--font-size-large);
  text-align: center;
  padding-bottom: 5rem;
  
}