@import '../../globals.css';

.heroContainer {
  background:
  linear-gradient(90deg, #33333388 0%, #33333388 100%),
  url('../../../public/images/hero-img.jpg');
  background-size: cover;
  width: 100%;
  display: flex;
  margin-top: 5rem;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 2rem;
  width: 100%;
  
}


 .welcome {
    color: var(--text-light);
    text-align: center;
    font-size: var(--font-size-small);
    padding-bottom: 3rem;
    padding-top: 1rem;
 }
 
.title {
  font-size: var(--font-size-medium);
    color: var(--text-light);
    text-align: center;
    padding: 4rem 3rem;

  @media (min-width: 992px) {
    font-size: var(--font-size-xlarge);
  }
  
}