.title {
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--background-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
   align-items: center;
  }

  .btnContainer {
    display: flex;
    justify-content: center;
  }
  
  .heading {
    font-size: var(--font-size-medium);
    color: var(--text-dark);
    text-transform: uppercase;

  }
  
  .text {
    font-size: var(--font-size-small);
    color: var(--text-dark);
    padding-top: 2rem;
  }

  .text a {
    text-decoration: none;
    color: var(--text-dark);
    font-style: italic;
  }
  
  .goBackButton {
    background-color: var(--accent-color);
    border-radius: 2rem;
    display: flex;
    align-items: center;
    padding: 0.5rem 2rem;
    font-size: var(--font-size-small);
    margin-bottom: 2rem;
    text-transform: uppercase;
  }
  
  .button:hover {
    background-color: #ffad00; 
  }

  .ingredients {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }

  .ingredientsLi {

    padding-right: 0.3rem;

  }

  .ingredientsOl {
    margin-bottom: 1rem;

  }