.title {
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--background-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
   align-items: center;
  }

  .btnContainer {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }
  
  .heading {
    font-size: var(--font-size-medium);
    color: var(--text-dark);
    text-transform: uppercase;

  }

  .image {
    width: 100%;
   height: auto; 
   border-radius: 2rem;
   margin: 2rem;
    object-fit: cover;
  }

  
  .text {
    font-size: var(--font-size-small);
    color: var(--text-dark);
    padding-top: 2rem;
  }

  .text a {
    text-decoration: none;
    color: var(--text-dark);
    font-style: italic;
  }
  
  .goBackButton {
    background-color: #FE6464;
    text-transform: uppercase;
    color: var(--text-light);
    border: none;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    padding: 0.5rem 2rem;
    font-size: var(--font-size-small);
    margin-bottom: 2rem;
    cursor: pointer;
    margin-right: 1rem;
  }
  
  .goBackButton:hover {
    background-color: #fc3535;
  }

  .ingredients {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }

  .ingredientsLi {

    padding-right: 0.3rem;

  }

  .ingredientsOl {
    margin-bottom: 1rem;

  }

  .heartBtn {
background-color: white;
    text-transform: uppercase;
    color: var(--text-light);
    border: none;
    border-radius: 2rem;
    padding: 0.5rem 2rem;
    font-size: var(--font-size-small);
    margin-bottom: 2rem;
    cursor: pointer;
  }


  .saved {
    color: red; 
  }

 .addBtn {
    background-color: var(--color-button);
    text-transform: uppercase;
    color: var(--text-light);
    border: none;
    border-radius: 2rem;
    padding: 0.5rem 2rem;
    font-size: var(--font-size-small);
    margin-bottom: 2rem;
    cursor: pointer;
  }

  .addBtn:hover {
    background-color: var(--accent-color);
  }

  .addLink {
    text-decoration: none;
    color: var(--text-light);
    cursor: pointer;
  } 