@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Julius+Sans+One&family=Open+Sans:wght@300&family=Rubik+Vinyl&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Julius+Sans+One&family=Open+Sans:wght@300&family=Roboto:wght@300&family=Rubik+Vinyl&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Julius+Sans+One&family=Open+Sans:wght@300&family=Playfair+Display:ital,wght@1,500&family=Roboto:wght@300&family=Rubik+Vinyl&family=Shadows+Into+Light&display=swap');


.body {

  --background-color: #F3F0DD;
  --accent-color: #57a16b;
  --text-dark: #252322;
  --text-light: #FEEDED;
  --color-button: #7ec491;

  --fonts-primary: 'Roboto', sans-serif;

  --font-size-small: 14px;
  --font-size-medium: 22px;
  --font-size-large: 32px;
  --font-size-xlarge: 42px;

  background: var(--background-color);
  color: var(--text-dark);
  font-family: var(--fonts-primary);
}


.selector {
  animation: fadeIn 1s ease-in-out;
}

.flex-column {
  flex: 0 0 calc(100% / var(--columns) - 16px);
  max-width: calc(100% / var(--columns) - 16px);
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;

  @media (min-width: var(--breakpoint-medium)) {
    gap: 24px;
  }

  @media (min-width: var(--breakpoint-large)) {
    gap: 32px;
  }
}

.grid-container {
  width: 100%;
  margin: 0 auto;
}
