.container {
    background-color: #6F8053;
    background-size: cover;
    width: 100%;
    padding-bottom: 3rem;
    padding-top: 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 2rem;
    margin-top: 2rem;
}

.text {
    font-size: var(--font-size-small);
    color: var(--text-light);
    text-align: center;
    padding: 1.5rem;
    line-height: 1.5;


    @media (min-width: 992px) {
        font-size: var(--font-size-large);
      }
}

.searchForm {
    display: flex;
    padding-bottom: 2rem;
}

.input {
    background-color: var(--text-light);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 3rem;
    border-radius: 1rem;
    width: 100%;

}

.button {
    background-color: var(--color-button);
    border-radius: 2rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 4rem;
}
.button:hover {
    background-color: var(--accent-color);
  }


.button svg {
    color: black;
    padding: 0.3rem;
}

.navsearch {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}